body{
    display: flex;
    height: 100px;
    width: 200px;
    margin: 0;
    padding: 0;
    background: #34495e;
}

.eyes{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.eye{
    width: 240px;
    height: 120px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.ball{
    width: 40px;
    height: 40px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 15px solid #333;
    
}

.ac{
    top: 250px;
    left: 60px;
}

.vc {
    top: 100px;
    left: 120px;
}

.rv{
    top: 100px;
    left: 1000px;
}

.sk{
    top: 400px;
    left: 80px;
}

.ra{
    top:250px;
    left: 940px;
}

.di{
    top: 400px;
    left: 925px;
}

.ki{
    top: 450px;
    left: 450px;
}






.container {
    position: relative;
    display: inline-block;
    perspective: 1000px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
}

.rotating-div {

    position: fixed;
    color: white;
    z-index: 10;/* Asegura que los textos estén por encima de los ojos */
    width: 200px;
    height: 100px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.face {
    position: absolute;
    width: 200px;
    height: 100px;
    backface-visibility: hidden; /* Hide the back face when not facing the viewer */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 25px;
    color: white;
}

.front {
    background-color: #3498db; /* Front face color */
}

.back {
    display: flex;
    background-color:  #05337d;; /* Back face color */
    transform: rotateY(180deg); /* Rotate the back face */
}

/* Rotate on hover */
.rotating-div:hover {
    transform: rotateY(180deg);
}
